$background-shadow: rgba(17, 73, 15, 0.7);
$background: #cecece;
$text-color: rgb(253, 253, 253);
$text-bottom-color: #333;
$error-color: rgb(180, 9, 9);
$button: rgba(10, 124, 6, 0.7);
$hover: rgba(12, 85, 8, 0.7);
$background-mobile: rgb(233, 233, 233);
